@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Poppins';
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
}
